@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* { 
	box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    margin: 0; 
    padding: 0;
}

.content {
    display: flex;
    position: relative;
    z-index: 1;
}

.left {
    background-color: black;
    height: 100vh;
    flex: 1;
}

.right {
    background-color: white;
    height: 100vh;
    flex: 1;
}

.game-options {
    display: flex;
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
    gap: 50px;
}

.option {
    position: relative;
    border: solid rgb(164, 164, 201) 4px;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    animation: bobble 5s infinite;
}



.option:hover {
    animation: bobble-hover 5s infinite;
}

/* @keyframes bobble {
    0%   {-webkit-transform: translateY(0); }
    50%  {-webkit-transform: translateY(30px); }
    100% {-webkit-transform: translateY(0); }
} */

@keyframes bobble-hover {
    0%   {-webkit-transform: translateY(0) scale(1.0); }
    50%  {-webkit-transform: translateY(30px) scale(1.1); }
    100% {-webkit-transform: translateY(0) scale(1.0); }
}

.bobble {
    animation-name: bobble;
    animation-timing-function: ease;
}

.bobble-hover:hover {
    animation-name: bobble-hover;
    animation-timing-function: ease;
}

.title {
    margin: 0;
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 65%;
    width: 1000px;
    transform: translate(-50%,-50%);
    font-size: 60px;
    text-align: center;
}

.title p {
    margin: 0;
    padding: 0;
    display: inline-block;
    background: linear-gradient(to right, #fff 50%, #000 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}